

@font-face
{
	font-family: "Liberation Mono";
    src: url('LiberationMono-Regular.ttf');
}




html
{
	overflow-y: scroll;
}



body
{
	background-color: black;
	color: white;
	font-size: 17px;
	font-family: 'Liberation Mono', 'Courier New', monospace;
	text-shadow: 0px 0px 3px #DDF;
}


#block_page
{
	margin: auto;
	width: 768px;
	background-color: rgba(0, 0, 0, 0.5);
}



a
{
	/* color: #999; */
	color: white;
}

a:hover
{
	color: #BBB;
}


h1
{
	text-align: center;
}



h1 a
{
	text-decoration: none;
}







#speedbarre ul
{
	list-style-type: none;
	padding: 0px;
}

#speedbarre ul li
{
	display: block;
	float: left;
}

#speedbarre ul li a
{
	width: 180px;
	margin-left: 39px;
}



.bouton
{
	display: inline-block;
	color: white!important;
	height: 20px;
	padding: 10px;
	border: solid 2px white;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.75);
	font-weight: bold;
	text-decoration: none;
}

.bouton:hover
{
	background-color: rgb(128, 128, 128);
}


.bouton:active
{
	background-color: rgb(160, 160, 160);
}






#content
{
	clear: both;
	margin-top: 15px;
	padding: 5px;
	
}



#gallerie
{
	height: 100px;
}

#gallerie > span
{
	display: block;
	border: solid 2px white;
	height: 90px;
	width: 160px;
	float: left;
	margin-left: 20.4px;
}


#gallerie > span:hover
{
	border-color: #BBB;
}

#gallerie img
{
	max-width: 160px;
	max-height: 90px;
}



table#scores
{
	width: 100%;
	font-size: 16px;
}
table#scores td, table#scores th
{
	padding: 5px;
}




footer
{
	border-top: solid 2px white;
	font-size: 12px;
}

